<%= stylesheet_link_tag 'user_index' %>

<% if @users.any? %>
  <div class="user-list">
    <% @users.each do |user| %>
      <div class="user-item">
        <div class="user-image-container">
          <% if user.photo.present? %>
            <img src="<%= user.photo %>" alt="<%= user.name %>">
          <% end %>
        </div>
        <div class="user-details-container">
          <h2>
            <%= link_to user.name, user_path(user.id) %>
          </h2>
          <p class="post-count">Number of posts: <%= user.posts.count %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="no-users">No users found.</p>
<% end %>
