<h1><%= @user.name %></h1>
<img src="<%= @user.image_url %>" alt="<%= @user.name %>">
<p><%= @user.bio %></p>

<h2>Posts by <%= @user.name %></h2>
<ul>
  <% @user.posts.each do |post| %>
    <li><%= post.title %>: <%= post.body %></li>
  <% end %>
</ul>
