<%= stylesheet_link_tag 'user_show' %>

<div class="user-show-container">
  <div class="user-image-container">
    <img src="<%= @user.photo %>" alt="<%= @user.name %>">
  </div>

  <div class="user-details-container">
    <h1><%= @user.name %></h1>
    <p class="post-count">Number of posts: <%= @user.posts.count %></p>
  </div>
</div>

<div class="user-bio-container">
  <h2 class="h2-bio">Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div class="user-posts-container">
  <h2>
    <% post_count = @user.posts.count %>
    <% if post_count.zero? %>
      No Posts
    <% elsif post_count == 1 %>
      Post #1
    <% else %>
      <%= "Post ##{post_count}" %>
    <% end %>
  </h2>

  <ul>
    <% @user.posts.each do |post| %>
      <li>
        <%= post.text %>
        <p class="post-metadata">
          <span class="comments-count">Comments: <%= post.comments.count %></span>
          <span class="likes-count">Likes: <%= post.likes.count %></span>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<div class="bottom-button">
  <%= button_to 'See All Posts', user_posts_path(@user), method: :get, class: 'last-btn' %>
</div>

